.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto; /* allow scrolling */
}

.modal-box {
  background: white; 
  padding: 25px;
  width: 600px;
  border-radius: 8px;
  animation: popIn 0.25s ease-out;
  max-height: 80vh; 
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: black;
  font-size: 18px;
  cursor: pointer;
}

.close-button:hover {
  color: red;
}
